
@{
    ViewBag.Title = "Index";
}

<table ng-controller="dataComparison" class="table">
    <thead>
        <tr>
            <th ng-repeat="column in Columns">{{column.Name}}</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="entry in Data">
            <td ng-repeat="cell in entry.Cells">
                <span ng-if="cell.Value">{{cell.Value}}</span>
                <span ng-if="cell.Graph" histogram />
            </td>
        </tr>
    </tbody>
</table>

