@model Web.Models.LeagueViewModel
@{
    Layout = "~/Views/Shared/_LeagueLayout.cshtml";
    ViewBag.Title = "Detail";
}

<h3>Draft</h3>

<table ng-controller="draftBoard" class="table" id="draft-table" draft-league="@Model.League.Id">
    <thead>
        <tr>
            <th>Round</th>
            <th ng-repeat="team in Teams">{{team.Name}}</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="round in Rounds">
            <td>Round {{round}}</td>
            <td ng-repeat="team in Teams">
                <input type='text' style="width:80px" draftposition dp-round="{{round}}" dp-team="{{team.Id}}" />
            </td>
        </tr>
    </tbody>
</table>