@model Web.Models.LeagueRankingsViewModel
@{
    Layout = "~/Views/Shared/_LeagueLayout.cshtml";
    ViewBag.Title = "Detail";
}

<h3>Rankings</h3>

<ul>
    @foreach (Objects.Ranking ranking in Model.Rankings)
    {
        <li>@Html.ActionLink(ranking.Name, "Ranking", new { id = Model.League.Id ,rankingId=ranking.Id})</li>
    }
</ul>