@using System.Web.Mvc.Html
@{
    ViewBag.Title = "Index";
}

<ul>
    @foreach (var ranking in Data.RankingRepo.GetRankings())
    {
        <li>@Html.ActionLink(ranking.Name, "Detail", new { id = ranking.Id })</li>
    }
</ul>